$PKGLINE
public class SuMProgramm
{
    static SuMAnwendung meineAnwendung;
       
    public static void main(String args[])
    {
        meineAnwendung = new SuMAnwendung();
        meineAnwendung.fuehreAus();
    }
}
